.sun_info {
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 36px;
  &_title {
    color: #c4c4c4;
    font-size: 16px;
    margin-bottom: 12px;
    font-weight: 500;
  }
  &_description {
    width: 100%;
    color: #9a9a9a;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
  }
}
