.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  max-height: 700px;
  h2 {
    color: #c4c4c4;
    font-size: 16px;
  }
}
